<div class="row" id="bookmark-id<%= bookmark.id %>">
  <div class="card-bookmark">
    <img class="card-bookmark-background" src="https://plus.unsplash.com/premium_photo-1674716518188-e5763982eb59?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dHJhaW58ZW58MHx8MHx8fDA%3D">
    <div class="card-bookmark-content">
      <%= link_to bookmark_path(bookmark), class: 'btn btn-light position-absolute top-0 end-0 m-3', data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
      <h3><%= link_to bookmark.trip.title, trip_path(bookmark.trip), class: 'text-decoration-none' %></h3>
      <p><%= bookmark.trip.description %></p>
      <div class="justify-content-between">
        <%= link_to 'Book', trains_trip_path(bookmark.trip), class: 'btn-bookmark' %>
        <%= link_to 'Mark as Done', bookmark_path(bookmark, status: :done), class: 'btn-bookmark', data: { turbo_method: :patch } %>
      </div>
    </div>
  </div>
</div>
