<div class="card-steps-right-grid">
  <div class="card-steps-right">
    <div class="card-steps-right__item">
      <div class="card-steps-right__img">
        <% if step.photo.present? %>
          <%= cl_image_tag step.photo.key %>
        <% else %>
          <img src="https://images.pexels.com/photos/1670187/pexels-photo-1670187.jpeg?auto=compress&cs=tinysrgb&w=800">
        <% end %>
      </div>
      <div class="card-steps-right__content">
        <span class="card-steps-right__code">Step <%= step.order + 1 %></span>
        <h3><%= step.title.capitalize %></h3>
        <p><%= step.content.capitalize %></p>
        <p><i><%= "#{step.duration} days, #{step.distance} km" %></i></p>
      </div>
    </div>
  </div>
</div>
