<div class="margin-navbar"></div>


<h2 class="text-center">Find your avdenture</h2>

<div class="d-flex justify-content-center align-items-center">
  <%= simple_form_for :search, url: trips_path, method: :get do |f| %>
    <div class="search-form-control form-group mb-3 mt-5">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
      <p class="search-placeholder"><i class="fas fa-search"></i></p>
      </button>
    </div>
  <% end %>
</div>

<div class="container-card">
  <div class="cards-index-grid">
    <% @trips.each do |trip| %>
    <%# ---------SETUP--------- %>
    <% plane = trip.footprints.first.value.to_i %>
    <% train = trip.footprints.second.value.to_i %>
    <% car = trip.footprints.last.value.to_i %>
    <%# ---------/SETUP--------- %>
      <%= link_to trip_path(trip), class: "card-index" do %>
       <div class="badge-pill-index">
          <%= plane - train %> kg CO₂ avoided
        </div>
        <% if trip.photo.present? %>
          <%= cl_image_tag trip.photo.key, class: "card-index-background" %>
        <% else %>
          <img class="card-index-background" src="https://plus.unsplash.com/premium_photo-1674716518188-e5763982eb59?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dHJhaW58ZW58MHx8MHx8fDA%3D">
        <% end %>
        <div class="card-index-content">
          <h3><%= trip.title %></h3>
          <p><i><%= "#{trip.total_duration} days, #{trip.total_distance} km" %></i></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
