<% require "open-uri" %>
<% require "nokogiri" %>


<div class="margin-navbar"></div>


<h1 class="mx-5">
  <div class="d-flex gap-3 align-items-center mb-5">
    <%= @trip.title %> <%= "(#{@trip.total_duration} days, #{@trip.total_distance} km)" %>
    <% if @user_trip_bookmark.present? %>
      <!-- Si le bookmark est présent, afficher l'icône remplie avec un lien pour le retirer -->
      <%= button_to trip_bookmarks_path(@user_trip_bookmark), method: :delete, class: 'text-decoration-none' do %>
        <i class="fa-solid fa-bookmark active-bookmark"></i>
      <% end %>
    <% else %>
      <!-- Si le bookmark n'est pas présent, afficher l'icône vide avec un lien pour l'ajouter -->
      <%= button_to trip_bookmarks_path(trip_id: @trip.id), method: :post, class: 'text-decoration-none' do %>
        <i class="fa-regular fa-bookmark"></i>
     <% end %>
    <% end %>
  </div>
</h1>

<% @trip.steps.each do |step| %>
  <% if step.order.even? %>
    <%= render 'left_step_card', step: step %>
  <% else %>
    <%= render 'right_step_card', step: step %>
  <% end %>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
