<% require "open-uri" %>
<% require "nokogiri" %>

<div class="margin-navbar"></div>

<%# ---------SETUP--------- %>
<% plane = @trip.footprints.first.value.to_i %>
<% train = @trip.footprints.second.value.to_i %>
<% car = @trip.footprints.last.value.to_i %>
<% car = @trip.footprints.last.value.to_i %>
<%# ---------/SETUP--------- %>

<div class="mx-5 mb-5">
  <div class="d-flex gap-3 align-items-center">
    <h1 class=""><%= @trip.title.capitalize %> <%= "(#{@trip.total_duration} days, #{@trip.total_distance} km)" %></h1>
    <% if @user_trip_bookmark.present? && @user_trip_bookmark.to_do? %>
      <i class="fa-solid fa-bookmark"></i>
    <% else %>
      <%= button_to trip_bookmarks_path(trip_id: @trip.id), data: { turbo_method: :create } do %>
        <i class="fa-regular fa-bookmark black"></i>
      <% end %>
    <% end %>
  </div>
  <p class=""><%= "plane#{plane}, train#{train}, car#{car}" %></p>
</div>

<% @trip.steps.each do |step| %>
  <% if step.order.even? %>
    <%= render 'left_step_card', step: step %>
  <% else %>
    <%= render 'right_step_card', step: step %>
  <% end %>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

