<div class="margin-navbar"></div>

<%#
<h1>Trip Map</h1>

<h1>Trip Details</h1> %>
<h1 class="text-center"><%= @trip.title %></h1>
<%# <%= @trip.category %>
<%# <%= @trip.description %>


<%# ``
<% latitude1 = @trip.steps.first.latitude %>
<%# <% longitude1 = @trip.steps.first.longitude %>
<%# <% latitude2 = @trip.steps.last.latitude %>
<%# <% longitude2 = @trip.steps.last.longitude %>
<%# <% distance = Geocoder::Calculations.distance_between([latitude1, longitude1], [latitude2, longitude2]) %>
<%# <%= "#{distance.to_i} km"%>


<%# <%= @trip.footprint %>
<%# <%= @trip.total_duration %>

<div>
  <%# if @trip.bookmarks.to_do? %>
<!--    <i class="fa-solid fa-bookmark"></i>-->
  <%# else %>
<!--    <i class="fa-regular fa-bookmark"></i>-->
  <%# end %>
</div>

<div class="my-5 mx-5">
  <h2>Trip's Steps ___</h2>
</div>

<% @trip.steps.each do |step| %>
  <% if step.order.even? %>
    <%= render 'left_step_card', step: step %>
  <% else %>
    <%= render 'right_step_card', step: step %>
  <% end %>
<% end %>

<%# <div class="card-steps swiper-container" data-controller="card-swiper" data-card-swiper-target="cardsSteps">
  <div class="card-steps__wrp swiper-wrapper">
    <div class="card-steps__item swiper-slide">
      <div class="card-steps__img">
        <img src="https://images.pexels.com/photos/1670187/pexels-photo-1670187.jpeg?auto=compress&cs=tinysrgb&w=800">
      </div>
      <div class="card-steps__content">
        <span class="card-steps__code">Country</span>
        <h2>City / Step</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</p>
      </div>
    </div>
    <div class="card-steps__item swiper-slide">
      <div class="card-steps__img">
        <img src="https://images.pexels.com/photos/1670187/pexels-photo-1670187.jpeg?auto=compress&cs=tinysrgb&w=800">
      </div>
      <div class="card-steps__content">
        <span class="card-steps__code">Country</span>
        <h2 class="card-steps__title">City / Step</h2>
        <div class="card-steps__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
      </div>
    </div>
    <div class="card-steps__item swiper-slide">
      <div class="card-steps__img">
        <img src="https://images.pexels.com/photos/1670187/pexels-photo-1670187.jpeg?auto=compress&cs=tinysrgb&w=800">
      </div>
      <div class="card-steps__content">
        <span class="card-steps__code">Country</span>
        <h2 class="card-steps__title">City / Step</h2>
        <div class="card-steps__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
      </div>
    </div>
  </div>
  <div class="card-steps__pagination" data-card-swiper-target="cardStepsPagination"></div>
</div> %>
