<div class="margin-navbar"></div>
<h1>Trip Show</h1>

<h1>Trip Map</h1>

<h1>Trip Details</h1>
<%= @trip.title %>
<%= @trip.category %>
<%= @trip.description %>
<%# <%= @trip.footprint %>
<%# <%= @trip.total_duration %>

<h1>Trip Steps Cards</h1>

<%# <div class="card-steps swiper-container" data-controller="card-swiper" data-card-swiper-target="cardsSteps">
  <div class="card-steps__wrp swiper-wrapper">
    <div class="card-steps__item swiper-slide">
      <div class="card-steps__img">
        <img src="https://images.pexels.com/photos/1670187/pexels-photo-1670187.jpeg?auto=compress&cs=tinysrgb&w=800">
      </div>
      <div class="card-steps__content">
        <span class="card-steps__code">Country</span>
        <h2>City / Step</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</p>
      </div>
    </div>
    <div class="card-steps__item swiper-slide">
      <div class="card-steps__img">
        <img src="https://images.pexels.com/photos/1670187/pexels-photo-1670187.jpeg?auto=compress&cs=tinysrgb&w=800">
      </div>
      <div class="card-steps__content">
        <span class="card-steps__code">Country</span>
        <h2 class="card-steps__title">City / Step</h2>
        <div class="card-steps__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
      </div>
    </div>
    <div class="card-steps__item swiper-slide">
      <div class="card-steps__img">
        <img src="https://images.pexels.com/photos/1670187/pexels-photo-1670187.jpeg?auto=compress&cs=tinysrgb&w=800">
      </div>
      <div class="card-steps__content">
        <span class="card-steps__code">Country</span>
        <h2 class="card-steps__title">City / Step</h2>
        <div class="card-steps__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
      </div>
    </div>
  </div>
  <div class="card-steps__pagination" data-card-swiper-target="cardStepsPagination"></div>
</div> %>
