<div class="margin-navbar"></div>
<h1>Trip Show</h1>

<h1>Trip Map</h1>

<h1>Trip Details</h1>
<%= @trip.title %>
<%= @trip.category %>
<%= @trip.description %>
<%# <%= @trip.footprint %>
<%# <%= @trip.total_duration %>

<h1>Trip Steps Cards</h1>
<div class="container">

</div>
