<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <%= f.input :title, label: 'Enter a location', input_html: { data: { coordinates_target: "input" } } , as: :string %>
  <%= f.input :content, label: 'Describe this step of your journey', as: :text %>
  <%= f.input :photo, as: :file %>
  <button type="button" data-action="nested-form#remove">Remove step</button>

  <%= f.input :_destroy, as: :hidden %>
</div>
