<%# <h1>Review new</h1> %>
<%# <%= simple_form_for [@bookmark, @review] do |f| %>
  <%# <%= f.input :content %>
  <%# <%= f.submit "Submit review", class: "btn btn-primary" %>
<%# <% end %>

<div class="container">
  <h2>Write Your Review</h2>

  <%= simple_form_for @review, url: url_for(:action => 'create', :controller => 'reviews'), html: { id: "review-form" } do |f| %>

    <div id="rating">
      <svg class="star" id="1" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
        <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
      </svg>
      <svg class="star" id="2" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
        <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
      </svg>
      <svg class="star" id="3" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
        <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
      </svg>
      <svg class="star" id="4" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #f39c12;">
        <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
      </svg>
      <svg class="star" id="5" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" style="fill: #808080;">
        <polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566"></polygon>
      </svg>
    </div>

    <div class="form-group">
      <label class="control-label" for="review">Your Review:</label>
      <%= f.text_area :content, class: "form-control", rows: 10, placeholder: "Your Review", id: "review" %>
      <span id="reviewInfo" class="help-block pull-right">
      </span>
    </div>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
    <%# <%= link_to trip_path(trip), class: "btn btn-general-blue" %>

  <% end %>
</div>
