<!DOCTYPE html>
<html>
  <head>
    <title>Escale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body><%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>

    <footer class="text-center text-lg-start border border-white mt-xl-5 pt-4">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase mb-4">OUR WORLD</h5>
            <ul class="list-unstyled mb-4">
              <li><a href="#!" class="text-white">About us</a></li>
              <li><a href="#!" class="text-white">Collections</a></li>
              <li><a href="#!" class="text-white">Environmental philosophy</a></li>
              <li><a href="#!" class="text-white">Artist collaborations</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase mb-4">A propos de nous</h5>
            <ul class="list-unstyled">
              <li><a href="#!" class="text-white">Vince le ouf</a></li>
              <li><a href="#!" class="text-white">Lancelot</a></li>
              <li><a href="#!" class="text-white">Enzo do Brazil</a></li>
              <li><a href="#!" class="text-white">Le gendre idéal</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase mb-4">Envie d’autres escales ? Rejoignez-nous !</h5>
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Ton email</label>
              <button type="submit" class="btn btn-outline-white btn-block">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center p-3 border-top border-white">
        Vert un monde meilleur...
      </div>
    </footer>
  </body>
</html>
