<!DOCTYPE html>
<html>
  <head>
    <title>Escale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body><%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>

    <footer class="text-center text-lg-start border border-white mt-xl-5 pt-3">
      <div class="container pt-3 pb-2">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase mb-4">NOTRE UNIVERS</h5>
            <ul class="list-unstyled mb-4">
              <li><a href="#!" class="text-decoration-none">Messages</a></li>
              <li><a href="#!" class="text-decoration-none">Contact us</a></li>
              <li><a href="#!" class="text-decoration-none">Environmental philosophy</a></li>
              <li><a href="#!" class="text-decoration-none">Trains infos</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase mb-4">A propos de nous</h5>
            <ul class="list-unstyled">
              <li><a href="https://www.linkedin.com/in/vincent-gannier/" class="text-decoration-none">Vince le ouf</a></li>
              <li><a href="#!" class="text-decoration-none">Lancelot</a></li>
              <li><a href="#!" class="text-decoration-none">Enzo do Brazil</a></li>
              <li><a href="#!" class="text-decoration-none">Le gendre idéal</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg-0">
            <h5 class="text-uppercase mb-4">Envie d’autres escales ? Rejoignez-nous !</h5>
            <div class="form-outline form-white">
              <input type="email" id="email-footer" placeholder="name@mail.com" class="form-control" />
              <button type="submit" class="btn btn-outline-white btn-block">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
      <div class="border-top border-white container d-flex justify-content-center py-3">
        <h5 class="mx-5">Vert un monde meilleur...</h5>
        <button type="button" class="btn btn-primary btn-sm btn-floating mx-2" style="background-color: #243264;">
          <i class="fab fa-facebook"></i>
        </button>
        <button type="button" class="btn btn-primary btn-sm btn-floating mx-2" style="background-color: #243264;">
          <i class="fab fa-youtube"></i>
        </button>
        <button type="button" class="btn btn-primary btn-sm btn-floating mx-2" style="background-color: #243264;">
          <i class="fab fa-instagram"></i>
        </button>
        <button type="button" class="btn btn-primary btn-sm btn-floating mx-2" style="background-color: #243264;">
          <i class="fab fa-twitter"></i>
        </button>
      </div>
    </footer>
  </body>
</html>
